<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONSUMER_KEY</key>
	<string>19819-efcb14be2819337b9e7bfd6c</string>
	<key>APP_ID</key>
	<string>19819</string>
</dict>
</plist>
